{% extends "base.html" %}

{% block selector %}
{% include "motes/mote_list.html" %}
{% endblock %}

{% block extra_scripts %}
{{ form.media }}
{% endblock %}

{% block content %}
<h2>
    {% if form.instance.id %}
        Edit
    {% else %}
        New 
    {% endif %}
    {% block form_type %}Mote{% endblock %}</h2>
<form id="edit-mote" method="post" action="">
    {% block form_fields %}
    {% endblock %}
    <button class="submit" type="submit">
        {% if form.instance.id %}
            Save
        {% else %}
            Create
        {% endif %}
    </button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
