body,html { margin: 0; padding: 0; height: 100%; }

body { 
    font-family: Georgia;
    background: #123456;
    text-align: center;
    width: 100%;
    display: -webkit-box; display: -moz-box; display: box;
    -webkit-box-orient: vertical; -moz-box-orient: vertical; box-orient: vertical;
    -webkit-box-pack: center; -moz-box-pack: center; box-pack: center;
    -webkit-box-align: center; -moz-box-align: center; box-align: center;
}

#iframe {
    width: 90%;
    height: 768px;
    border: 0;
}

h1,h2,h3,p,label {
    color: #fff;
    -webkit-text-shadow: 2px 2px 2px #000;
    text-shadow: 2px 2px 2px #000;
}
h2, h3 {
    color: #e5e5e5;
}

#set-plan {  background-color: rgba(0,0,0,0.7); border: 1px solid #000; position: relative; }
    #set-plan form { padding: 10px 0; border: 1px solid rgba(255,255,255,0.4) }
    #set-plan fieldset { border: none; padding: 0; margin: 0; }
    #set-plan label { font-size: 1.4em; display: block; margin-bottom: 0.6em; padding: 10px 20px 0 20px; }
    #set-plan input { font-size: 1.8em; height: 1.4em; }
    #set-plan button { font-size: 1.8em; height: 1.4em; }
    #set-plan #status-area { padding: 10px; color: #fff; margin-top: 13px; margin-bottom: -13px; }
        #set-plan #status-area span { display: none; }
    #set-plan.loading {}
        #set-plan.loading #status-area .loading { display: block; } 
    #set-plan.invalid-plan {}
        #set-plan.invalid-plan form { border: 3px solid #9C0027; }
        #set-plan.invalid-plan #status-area { background-color: #9C0027; }
        #set-plan.invalid-plan #status-area .invalid-plan { display: block; }

#loading {
    font-size: 2em;
    margin-top: 200px;
    padding-bottom: 40px;
    background: transparent url("images/ajax-loader.gif") no-repeat bottom center;
}

#status {
    font-family: sans-serif; text-align: left; width: 100%;
    font-size: 1em; color: #fff; position: absolute; top: 0; right: 0 }
    #status h2 { position: relative; margin: 0; padding: 4px 8px; font-size: 1em; text-align: left; background-color: rgba(255,255,255,0.2)  }
    #status .status-area-content { display: none; }

#active-plan { margin-bottom: 10px; float: left; background-color: rgba(0,0,0,0.7)} 
    #active-plan h2 { float: left; }
    #active-plan .status-area-content { padding: 4px 8px; display: block; float: left }
#history { background-color: rgba(0,0,0,0.7); width: 150px; z-index: 100; position: absolute; top: 0; right: 0;} 
    #history h2:after {
        content: ' '; width: 0; height: 0; display: block; z-index: 1; position: absolute; right: 10px; top: 9px;
        border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 7px solid white; }
    #history h2.active:after { border-top: 0; border-bottom: 7px solid white; }
    #history ul { list-style: none; margin: 0 0 10px 0; padding: 0; text-align: left; }
        #history li { font-size: 1em; padding: 10px 8px }
        #history li.active { font-weight: bold; position: relative; }
        #history li.active:before { 
            content: ' '; width: 0; height: 0; display: block; z-index: 1; position: absolute; left: -10px; top: 8px;
            border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-right: 10px solid rgba(0,0,0,0.7); }

#content { width: 100%; }

/* Rounded box style */
#set-plan, #set-plan form {
    -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
/* Left bottom rounded style */
#status,#history,#history h2 {
    -webkit-border-radius: 0 0 0 10px; -moz-border-radius: 0 0 0 10px; border-radius: 0 0 0 10px }
/* Right bottom rounded style */
#active-plan {
    -webkit-border-radius: 0 0 10px 0; -moz-border-radius: 0 0 10px 0; border-radius: 0 0 10px 0; }
/* Bottom rounded style */
#set-plan #status-area {
    -webkit-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px }
/* Shadow box style */
#set-plan,#history,#active-plan {
    -webkit-box-shadow: 2px 2px 5px #000; }
