body,html { margin: 0; padding: 0; }

body { 
    font-family: Georgia;
    background: url("images/ipad_bg.jpg");
    text-align: center;
}

#iframe {
    width: 90%;
    height: 768px;
    border: 0;
}

h1,h2,h3,p {
    color: #fff;
    -webkit-text-shadow: 2px 2px 2px #000;
    text-shadow: 2px 2px 2px #000;
}
h2, h3 {
    color: #e5e5e5;
}

#loading {
    font-size: 2em;
    margin-top: 200px;
    padding-bottom: 40px;
    background: transparent url("images/ajax-loader.gif") no-repeat bottom center;
}

#mote-question {
    margin: 10px;
}
#mote-question h1 {
    font-size: 4em;
}
#mote-question ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#mote-question li {
    font-size: 2.5em;
    padding: 20px;
    margin: 10px 0;
    border: 3px solid rgba(255,255,255,0.6);
    background-color: rgba(255,255,255,0.3)
}
